<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Amadon</title>
	<link rel="stylesheet" type="text/css" href="{% static 'amadon_app/css/style.css' %}">
</head>
<body>
<body>
	<div class="main">
		<h3>Thank you for your business</h3>
		<h4>We charged your credit card for {{request.session.charged}}</h4>
		<p>You have ordered {{request.session.qty}}</p>
	</div>
	<a href="/goback">Go Back</a>
	<form action="/clear" method="post">
		{% csrf_token %}
		<button>Clear</button>
	</form>
</body>
</html>